body {
  padding:0;
  margin:0;
  color: #fff;
  font-size: 16px;
}

h2 {
  padding:15px 0;
}

p {
  font-size: 1.5em;
}

.section {
  padding-top:60px;
  padding-bottom:60px;
  background-color: #282f3c;
}

.section-groups a, .section-groups a:hover, .section-groups a:active, .section-groups a:visited {
  color: #87deee !important;
}

.section-groups > .container > .row {
  padding:20px 0;
}

.section-yellow {
  background-color: #F7DB4D;
  color: #2E2E2C;
}

.section-yellow a {
  color: #555;
}

.section-blue {
  background-color: #61dafb;
}

/*******************************************************
  http://getbootstrap.com/examples/jumbotron-narrow/:
*/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 665px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
  margin-bottom:0;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@import url(http://fonts.googleapis.com/css?family=Cabin+Condensed:500&text=Fork%20me%20on%20GitHub);

body{
  overflow-x: hidden;
}

.ribbon{
  position: absolute;
  top: 42px;
  width: 200px;
  padding: 1px 0;
  background: #000;
  color: #eee;

  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ribbon.left{
  left: -42px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ribbon.right{
  right: -42px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ribbon a,
.ribbon a:visited,
.ribbon a:active,
.ribbon a:hover{
  display: block;
  padding: 1px 0;
  height: 24px;
  line-height: 24px;

  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;

  border: 1px solid rgba(255,255,255,0.3);

  -moz-text-shadow: 0 0 10px rgba(0,0,0,0.31);
  -webkit-text-shadow: 0 0 10px rgba(0,0,0,0.31);
  text-shadow: 0 0 10px rgba(0,0,0,0.31);
}

.ribbon.black{
  background: #000;
}

.ribbon.red{
  background: #c00;
}

.ribbon.blue{
  background: #09e;
}

.ribbon.green{
  background: #0a0;
}

.ribbon.orange{
  background: #F26B00;
}

.ribbon.purple{
  background: #774EBD;
}

.ribbon.grey{
  background: #888;
}

.ribbon.white{
  background: #eee;
  color: black;
}
.ribbon.white a{
  border: 2px dotted rgba(100,100,100,0.2);
}
